.test {
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.2);
}

nav .btn:active,
nav .btn:focus {
    border-color: transparent !important;
}

nav .form-control:focus {
    box-shadow: 0 0 0 0 !important;
}

.my_bg-darkblue {
    background-color: #165BBA;
}

aside {
    width: 68px;
    height: calc(100vh - 72px);

    background-color: #051E34;
    background-image: url('/img/sidebar-bg.png');
}

.fa-house,
.fa-chart-simple,
.fa-signal,
.fa-gear {
    width: 20px;
}

.sidebar-element:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


.my_container-size {
    width: calc(100% - 68px);
    height: calc(100vh - 72px);
}

.fa-search {
    height: 40px;
}

.fa-plus {
    height: 40px;
    width: 40px;
}


.fa-code {
    background-color: #F26551;
    width: 30px;
    height: 30px;
}

.my_font-small {
    font-size: 14px;
}

.my_font-extrasmall {
    font-size: 11px;
}

.fa-pencil,
.fa-trash {
    width: 30px;
    height: 30px;
}

#title span {
    height: 24.5px;
}

#breadcrumbs-dividers ol.breadcrumb li+li:before {
    color: white;
}

/* media queries */
/* large */
@media screen and (min-width: 992px) {
    aside {
        width: 150px;
    }

    .my_container-size {
        width: calc(100% - 150px);
    }

}