.test {
    padding: 20px;
    background-color: rgba(0, 0, 255, 0.2);
}

aside {
    width: 68px;
    height: calc(100vh - 72px);

    background-color: #051E34;
    background-image: url('/img/sidebar-bg.png');
}

.my_container-size {
    width: calc(100% - 68px);
    height: calc(100vh - 72px);
}

.fa-code {
    background-color: #F26551;
    width: 30px;
    height: 30px;
}


.my_font-small {
    font-size: 14px;
}


.my_font-extrasmall {
    font-size: 11px;
}

.fa-pencil,
.fa-trash {
    width: 30px;
    height: 30px;
}

/* media queries */
/* large */
@media screen and (min-width: 992px) {
    aside {
        width: 150px;
    }

    .my_container-size {
        width: calc(100% - 150px);
    }

}